<div class="todolist">
    <ul>
        <li *ngFor="let todo of todolist; let i =index">
            <div  (click)="changestatus(i)">{{todo.todotitle}}</div> 
            <div [class.displaynone]="!todo.showdesc"><input placeholder="Desc" [(ngModel)]="todo.desc" type="text" /><span  (click)="adddescriptionstodo(i)">Add</span></div>
        </li>
        
    </ul>
    <div class="">
        <input
          matInput
          placeholder="New Todo"
          [(ngModel)]="todotitle"
          type="text"
          name="description"
          required />
          <button mat-button color="primary" class="btn btn-primary" (click)="addnewtodolist(todotitle)">Todo</button>
    </div>
</div>

